extends layout

block content
  h2= title

  form(method='POST' action='')

    div.form-group
      label(for='user_id') User ID:
      input#user_id.form-control(type='text', placeholder='Enter User ID' name='user_id' required='true' value=(undefined===user ? '' : user.user_id) )
    
    div.form-group
      label(for='password') Password:
      input#password.form-control(type='password', placeholder='Enter password' name='password' required='true' value=(undefined===user ? '' : user.password) )

    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='Enter first name' name='first_name' required='true' value=(undefined===user ? '' : user.first_name) )

    div.form-group
      label(for='last_name') Last Name:
      input#last_name.form-control(type='text', placeholder='Enter last name' name='last_name' required='true' value=(undefined===user ? '' : user.last_name) )

    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email', placeholder='Enter email' name='email' required='true' value=(undefined===user ? '' : user.email) )

    div.form-group
      label(for='mobile') Mobile:
      input#mobile.form-control(type='text', placeholder='Enter mobile number' name='mobile' required='true' value=(undefined===user ? '' : user.mobile) )

    div.form-group
      label(for='type') Account Type:
      select#type.form-control(type='select' name='type' required='true' )
        option(value="user" ) User
        option(value="admin") Admin

    div.form-group
      label(for='team') Team:
      select#team.form-control(type='select' name='team')
        - teams.sort(function(a, b) {let textA = a.team_name.toUpperCase(); let textB = b.team_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for team in teams
          if user
            option(value=team._id selected=(team._id.toString()===user.team._id.toString() ? 'selected' : false) ) #{team.team_name}
          else
            option(value=team._id) #{team.team_name}
        
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
